.caja-gato{
  border: 2px solid rgb(123, 16, 223);
  border-radius: 5px;
  box-shadow: 4px 5px 18px blueviolet;
  display:inline-block;
  padding: 7px;
}

.nombre{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
}